body{
    margin: 0;
    padding: 0;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    text-align:center;
    
}

.form1{
    position: absolute;
  margin-right: 50%;
   width: 50%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #840894;   
  color: whitesmoke;
  box-sizing: border-box;
  


}

  
.submit {
    background-color: #04AA6D;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
  
.submit:hover {
    background-color: #45a049;
}
  
